body { 
  padding-top: 70px; 
}

.has-error input.form-control {
  border-color: red;
}

.error-message {
  font-weight: bold;
  color: red;
}

.field-error-message {
  margin-left: 15px;
  color: red;
}

#results {
  overflow-y: auto;
  max-height: 400px;
}

form {
  margin-bottom: 40px;
}